*{
    margin: 0;
    padding: 0;

}






body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: black;
}

header{
    position: fixed;
    top: 0ch; 
    width: 100px;
    z-index: 1000;
    background-color: white;
    
}




#header_top {
    background: linear-gradient( to right,  #3B89FC, #E4E8A7);
    height: 30px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    animation: ani 3s forwards;
    
}




#header_top img{
    height: 100%;
    
}
#header_top a{
    position: absolute;
    width: 100%;
    height: 100%;
}


#header_bottom {
    width: 100%;
    height: 80px;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
}

#header_bottom .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header_bottom .menuheader ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 500px;
}

#header_bottom .menuheader li, a{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    padding: 10px;
}

#header_bottom .menuheader a:hover{
    color: rgba(255, 255, 255, 0.568);
    
}

.container img{
    width: 5%;
    margin-top: 10px;
    margin-left: 18%;
}



.imglogo{
    position: relative;
    display: inline-block;
    top: 200px;
    left: 39%;
}

.video1{
    width: 70%;
    position: relative;
    top: -5lh;
    clip-path: inset(162px 10px);
    z-index: -2;
}

.img1{
    position: absolute;
    top: 4lh;
    left: -3%;
    width: 490px;
    z-index: -1;
}

.button1 .text-1{
    width: 100px;
    height: 100px;
    margin-top: 3%;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0);
    border: none;

    
}

.bo2text h1{
    text-align: center;
}

.text-1 .imgText1{
    width: 100%;
    height: 100%;
    animation: 10s linear 0s normal none infinite running png;
    
}

.text-1 .imgText1-2{
    width: 41%;
    height: 40%;
    position: relative;
    left: 30%;
    top: -73%;
    
}

button:hover {
    cursor: pointer; 
}


#body2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 1000px;
    position: relative;
    top: 100px;
    color: white;
    z-index: -1;
}

.body2 .sketchfab-embed-wrapper{
    z-index: 4;
}

.ModelC{

}

#body3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 1000px;
    position: relative;
    top: 100px;
    color: white;
    z-index: -1;
}











.blob {
    border-radius: 100px;
    filter: blur(200px);
}
  
.grean {
    background-color: rgb(8, 107, 122);
    position: absolute;
    top: -300px;
    height: 400px;
    width: 500px;
    animation: Basis 8s infinite ease;
    z-index: 0;
    
}
  
.grean2 {
    background-color: rgba(104, 14, 145, 0.651);
    position: absolute;
    top: 700px;
    margin-left: -1800px;
    height: 100px;
    width: 300px;
    animation: Basis 8s infinite ease;
    z-index: 0;
    border-radius: 300px;
    filter: blur(100px);
}

.Violet{
    background-color: rgb(14,128,145);
    position: absolute;
    top: 900px;
    margin-left: -1800px;
    height: 100px;
    width: 300px;
    animation: Basis 8s infinite ease;
    z-index: 0;
    border-radius: 300px;
    filter: blur(100px);
}
  





@keyframes Basis {
    0% { left: 1700px; transform: scale(1);}
    30% { left: 1710px; transform: scale(1.2);}
    60% { left: 1700px; transform: scale(1.3);}
    100% { left: 1710px; transform: scale(1);}
}



@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes png {
    0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}